<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div th:fragment="container-top-store">
  <div><a th:href="@{/add/store}"><i class="fa-solid fa-user-plus"></i></a></div>
  <div class="card-body"  >
    <table id="datatablesSimple">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>OperatingTime</th>
        <th>Operating status</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Edit</th>
        <th>Delete</th>

      </tr>
      </thead>

      <tbody>
      <tr th:each=" store : ${listStore} ">
        <td th:text="${store.id}"></td>
        <td th:text="${store.name}"></td>
        <td th:text="${store.operatingTime}"></td>
        <td th:text="${store.status == 'true'? 'còn hoạt động' : 'ngừng hoạt động' }"></td>
        <td th:text="${store.phone}"></td>
        <td th:text="${store.address}"></td>
        <td> <a th:href="${'/store/edit/' + store.id}"> edit</a></td>
        <td> <a th:href="${'/store/delete/' + store.id}"> delete</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

</body>
</html>