<!DOCTYPE html>
<html  lang="en"  xmlns:th="http://www.thymeleaf.org" >
<head >
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

<div th:fragment="container-top">
    <div><a th:href="@{/add}"><i class="fa-solid fa-user-plus"></i></a></div>
<div class="card-body"  >
    <table id="datatablesSimple">
        <thead>
        <tr>
            <th>ID</th>
            <th>UserName</th>
            <th>Gender</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Edit</th>
            <th>Delete</th>

        </tr>
        </thead>

        <tbody>
        <tr th:each=" inspect : ${listInspect} ">
            <td th:text="${inspect.id}"></td>
            <td th:text="${inspect.username}"></td>
            <td th:text="${inspect.gender == 'true'? 'nữ' : 'nam' }"></td>
            <td th:text="${inspect.phone}"></td>
            <td th:text="${inspect.address}"></td>
            <td> <a th:href="${'/inspect/edit/' + inspect.id}"> edit</a></td>
            <td> <a th:href="${'/inspect/delete/' + inspect.id}"> delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
</div>


</body>
</html>