<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../../static/css/inspect_form.css" rel="stylesheet">
</head>
<body>
<div th:fragment="container-form-store" >

    <form method="post" th:object="${store}" th:action="@{/store}"  class="form-inspect">
        <table>
            <caption>Thông tin nhân viên</caption>

            <div class="form-group">
                <input type="hidden" th:field="*{id}"/>



                <tr>
                    <td><label for="exampleInputEmail1">Username</label></td>
                    <td><input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  th:field="*{name}" /></td>
                </tr>
            </div>
            <div class="form-group">
                <tr>
                    <div class="form-check form-check-inline">

                        <td><input class="form-check-input" type="radio" th:field="*{status}" th:value="true" th:checked="${store.status == true }? 'checked' : null"   name="inlineRadioOptions" id="inlineRadio1" value="option1"/>
                            <label class="form-check-label" for="inlineRadio1">Còn hoạt động</label></td>
                    </div>
                    <div class="form-check form-check-inline">
                        <td><input class="form-check-input" type="radio" th:field="*{status}" th:value="false" th:checked="${store.status == false} ? 'checked' : null"  name="inlineRadioOptions" id="inlineRadio2" value="option2"/>
                            <label class="form-check-label" for="inlineRadio2">ngừng hoạt động</label></td>
                    </div>
                </tr>
            </div>



            <div class="form-group">
                <tr>
                    <td><label for="exampleInputPassword1">Phone</label></td>
                    <td><input type="text" class="form-control" id="" th:field="*{phone}"/></td>
                </tr>
            </div>
            <div th:each="certification : ${certifications}" class="form-group">
                <tr>
                    <td><label for="chungnhan" th:text="${certification.name}"></label></td>
                    <td><input type="checkbox" id="chungnhan" name="certifications" th:value="${certification.id}"  th:checked="${store.getCertifications().contains(certification)}"/></td>
                </tr>
            </div>



           <div class="form-group">
                <tr>
                    <td><label for="exampleInputPassword1">Address</label></td>
                    <td><input type="text" class="form-control" id="exampleInputPassword1" th:field="*{address}"/></td>
                </tr>
            </div>
            <div class="form-group">
                <tr>
                    <td><label for="exampleInputPassword1">operatingTime</label></td>
                    <td><input type="text" class="form-control" id="operatingTime" th:field="*{operatingTime}"/></td>
                </tr>
            </div>
            <div class="form-group">
                <tr>
                    <td><button type="submit" class="btn btn-primary">Submit</button></td>
                    <td> <button type="reset" class="btn btn-primary">Reset</button></td>
                </tr>
            </div>
        </table>
    </form>
</div>
</body>
</html>